@mixin subheader(
    $under_title_bold,
    $under_title_size,
    $under_title_text_height,
    $under_title_color,
    $under_title_transform
) {
    font-weight:        $under_title_bold;
    font-size:          $under_title_size;
    line-height:        $under_title_text_height;
    color:              $under_title_color;
    text-transform:     $under_title_transform;
}