$subheader_bold: bold;
$subheader_size: 12px;
$subheader_height: 15px;
$subheader_color: #1f2041;
$subheader_transform: uppercase;

$subheader_color_new_state: #fff;
$subheader_background_new_state: linear-gradient(180deg, #bc9cff 0, #8ba4f9 100%);