$social_background: linear-gradient(180deg, #bc9cff 100%, #8ba4f9 100%);
$social_size: 24px;
$social_background-hover: #fff;

$social_animate: linear-gradient(180deg, #bc9cff 100%, #8ba4f9 100%);
$social_animate_round: 2px;

$social_start_animate_round: 40px;
$social_start_animate_background: linear-gradient(180deg, #bc9cff 100%, #8ba4f9 100%);

$social_end_animate_round: 5px;