/*
    input options default
*/

$input_width: 100%;
$input_height: 44px;
$input_default_background: #fff;
$input_default_size_text: 14px;
$input_default_height_text: 18px;

/*
    input custom options
*/
$input_border-width: 1px;
$input_border-style: solid;
$input_border-color: rgba(31, 32, 65, 0.25);
$input_round: 4px;

$input_placeholder_color: rgba(31, 32, 65, 0.25);