/*
    checkbox optionss
*/

$checkbox_border_thick: 1px;
$checkbox_border_style: solid;
$checkbox_border_color: #bc9cff;
$checkbox_background: #fff;
$checkbox_self_round: 4px;

/*
    check mark default options
*/

$check_mark_default_thick: 1px;
$check_mark_default_style: solid;
$check_mark_default_color: #000;

/*
    check mark options
*/

$check_mark_thick: 2px;
$check_mark_style: solid;
$check_mark_color: #8ba4f9;