@mixin button(
    $button_width,
    $button_height,
    $button_default_background,
    $button_default_color
) {
    width:          $button_width;
    height:         $button_height;
    background:     $button_default_background;
    color:          $button_default_color;
}

@mixin buttonActive(
    $button-active_background,
    $button-active_color,
    $button-active_round
) {
    background:         $button-active_background;
    color:              $button-active_color;
    border-radius:      $button-active_round
}

@mixin thumb(
    $switcher_background,
    $switcher_round
) {
    background:         $switcher_background;
    border-radius:      $switcher_round;
}

@mixin thumbIcon(
    $thumb-icon_width,
    $thumb-icon_height,
    $thumb-icon_size,
    $thumb-icon_line-height,
    $thumb-icon_font-type,
    $thumb-icon_color
) {
    width:          $thumb-icon_width;
    height:         $thumb-icon_height;
    font-size:      $thumb-icon_size;
    line-height:    $thumb-icon_line-height;
    font-family:    $thumb-icon_font-type;
    color:          $thumb-icon_color;
}