@mixin title-gallery(
    $title_bold,
    $title_size,
    $title_line-height,
    $title_color
) {
    font-weight:        $title_bold;
    font-size:          $title_size;
    line-height:        $title_line-height;
    color:              $title_color;
}