/*
    range slider
*/

$range-slider_width: 50%;
$range-slider_height: 6px;
$range-slider_default_background: rgba(31, 32, 65, 0.5);
$range-slider_default_border-width: 0;
$range-slider_default_border-style: none;
$range-slider_default_border-color: transparent;
$range-slider_round: 3px;

/*
    range custom
*/

$range-slider_background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);

/*
    controls
*/

$slider-thumb_width: 18px;
$slider-thumb_height: 18px;
$slider-thumb_default_background: rgba(31, 32, 65, 0.5);
$slider-thumb_default_border-width: 0;
$slider-thumb_default_border-style: none;
$slider-thumb_default_border-color: transparent;
$slider-thumb_round: 10px;

/*
    controls custom
*/

$slider-thumb_background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);

/*
    fields of control which 
    bind with self controls
*/

$number_width: 100px;
$number_default_color: rgba(31, 32, 65, 0.5);
$number_default_background: #fff;
$number_default_border-width: 0;
$number_default_border-style: none;
$number_default_border-color: transparent;
$number_round: 4px;
$number_font-size: 14px;
$number_text-height: 24px;

/*
    fields colored
*/

$number_color: #fff;
$number_background: linear-gradient(180deg, #bc9cff 0, #8ba4f9 100%);
$number_opacity: 0.75;

/*
    if invalid value was input in field
*/

$number_invalid_border-width: 2px;
$number_invalid_border-style: solid;
$number_invalid_border_color: #ff6347;

/*
    range slider styles if adaptive from 1200 to 1440
*/

$control_width_less: 12px;
$control_height_less: 12px;