/*range-slider*/

$range-slider_height: 6px;
$range-slider_rounded_corner: 3px;
$range-slider_default_background: rgba(31, 32, 65, 0.5);
$range-slider_default_border: none;

/*controls*/

$control_width: 18px;
$control_height: 18px;
$control_rounding: 10px;
$control_default_background: rgba(31, 32, 65, 0.5);
$control_default_border: none;
$control_rounding: 10px;

/*
    controls custom
*/

$control_background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);

/*
    fields of control which 
    bind with self controls
*/

$field_width: 100px;
$field_default_color: rgba(31, 32, 65, 0.5);
$field_default_background: #fff;
$field_default_border-thick: none;
$field_default_border-style: none;
$field_default_border-color: none;
$field_rounding: 4px;

/*
    fields colored
*/
$field_border-thick: 1px;
$field_border-style: solid;
$field_border-color: transparent;
$field_color: #fff;
$field_background: linear-gradient(180deg, #bc9cff 0, #8ba4f9 100%);
$field_opacity: 0.75;

/*
    if invalid value was input in field
*/

$field_invalid_border-thick: 2px;
$field_invalid_border-style: solid;
$field_invalid_border-color: #ff6347;

/*
    range slider styles if adaptive from 1200 to 1440
*/

$control_width_less: 12px;
$control_height_less: 12px;