$title_bold_of_nav-list: bold;
$title_size_of_nav-list: 12px;
$title_height_of_nav-list: 15px;
$title_color_of_nav-list: #1f2041;
$title_action-text_of_nav-list : uppercase;

$item_bold_of_nav-list: normal;
$item_size_of_nav-list: 14px;
$item_height_of_nav-list: 17px;
$item_color_of_nav-list: rgba(31, 32, 65, 0.5);