/*
    item title options in nav list
*/

$item-title_bold: bold;
$item-title_size: 12px;
$item-title_height: 15px;
$item-title_color: #1f2041;
$item-title_transform: uppercase;

/*
    item options in nav list
*/

$item_bold: normal;
$item-size: 14px;
$item_height: 17px;
$item_color: rgba(31, 32, 65, 0.5);