/*
    select header,
    options for the component
    with name: 'SelectWithCounter'
*/

$select-header_width_narrow: 160px;
$select-header_text_size: 12px;
$select-header_text_height: 15px;
$select-header_text_weight: bold;
$select-header_color_weight: #1f2041;
$select-header_type_text: uppercase;
$select-item_color_hovered: #fff;
$select-item_background_hovered_colored: linear-gradient(180deg, #bc9cff 0, #8ba4f9 100%);