$footer_min_width: 350px;
$footer_width: 100%;
$footer_background: #fff;

$footer_border-thick: 1px;
$footer_border-style: solid;
$footer_border-color: rgba(31, 32, 65, 0.1);


$footer_shadow_color_of_custom: rgba(31, 32, 65, 0.05);