@mixin footer(
    $footer_min_width,
    $footer_width,
    $footer_background
) {
    min-width:      $footer_min_width;
    width:          $footer_width;
    background:     $footer_background;
}

@mixin drawCoupleLines(
    $footer_border-thick,
    $footer_border-style,
    $footer_border-color
) {
    $border-top-width:      $footer_border-thick;
    $border-top-style:      $footer_border-style;
    $border-top-color:      $footer_border-color;

    $border-bottom-width:   $footer_border-thick;
    $border-bottom-style:   $footer_border-style;
    $border-bottom-color:   $footer_border-color;
}