@mixin selectSelf(
    $self_width,
    $self_background,
    $self_border-width,
    $self_border-style,
    $self_border-color,
    $self_border-radius
) {
    width:              $self_width;
    background:         $self_background;
    border-width:       $self_border-width;
    border-style:       $self_border-style;
    border-color:       $self_border-color;
    border-radius:      $self_border-radius;
}

@mixin selectHeader(
    $select_height,
    $select_round
) {
    height:             $select_height;
    border-radius:      $select_round;
}

@mixin placeholderSelect(
    $current_size,
    $current_height,
    $current_color
) {
    font-size:      $current_size;
    line-height:    $current_height;
    color:          $current_color;
}

@mixin iconSelect(
    $icon_content,
    $icon_width,
    $icon_height,
    $icon_size,
    $icon_line-height,
    $icon_font,
    $icon_color
) {
    content: $icon_content;
    width: $icon_width;
    height: $icon_height;
    font-size: $icon_size;
    line-height: $icon_line-height;
    font-family: $icon_font;
    color: $icon_color;
}

@mixin bodySelect(
    $body_max-height,
    $body_width,
    $body_color_shadow,
    $body_top_round,
    $body_bottom_round
) {
    max-height:                     $body_max-height;
    width:                          $body_width;
    box-shadow:                     0 10px 20px $body_color_shadow;
    border-top-left-radius:         $body_top_round;
    border-top-right-radius:        $body_top_round;
    border-bottom-left-radius:      $body_bottom_round;
    border-bottom-right-radius:     $body_bottom_round;
}

@mixin itemSelect(
    $item_background,
    $item_border-thick,
    $item_border-style,
    $item_border-color,
    $item_size-text,
    $item_line-height,
    $item_color
) {
    background:             $item_background;
    border-bottom-width:    $item_border-thick;
    border-bottom-style:    $item_border-style;
    border-bottom-color:    $item_border-color;
    font-size:              $item_size-text;
    line-height:            $item_line-height;
    color:                  $item_color;
}